@charset "utf-8";
*{  margin:0;padding:0; 
	font-family:"Microsoft YaHei","Arial";
	outline: none;
	-moz-user-select: none;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);
	/*-webkit-transform: translateZ(0);*/
	/*transform: translateZ(0);*/
}
img{ border:0; }
li{list-style:none;}
h1,h2,h3,em,b{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
.hide{display: none}
.clear{ width:0; height:0;clear:both;font-size:0;line-height:0}
.top1{ height:1px; overflow: hidden}

#CC{position: absolute;}
#CC,section{ width:1024px; height:768px; overflow: hidden; perspective: 3000px; transform-style: preserve-3d; }
#_unable{
	position: absolute; top: 0; left: 0; z-index: 999999;
	width:100%; height: 100%; display: none;
}

html,body{width: 100%; height: 100%; overflow: hidden; background: #000;}

.cc {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
    background: url(../img/bg.png) no-repeat;
}

#Loader{
    display:block; visibility:visible;
    background: none; background-color: #111;
}
#Loader img{
    position: absolute; left: 50%; margin-left: -44px; top:50%; margin-top: -44px;
}
#Loader .word{
    position: absolute; top: 70%;
    left: 50%; margin-left: -250px;
    width: 500px; height: 50px; line-height: 50px;
    color: #fff; font-size: 25px; text-align: center;
}


#Index{
    background: url(../img/bg.png) no-repeat;
}
#Index .en{
    font-family: "Arial";
}
#Index .po{
    position: absolute;
}
#Index .title{
    left: 48px; top: 54px;
}
#Index .title .en{
    font-size: 38px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 5px 9px 5px rgba(0,0,0,.3);
}
#Index .title .cn{
    font-size: 24px;
    color: #fff;
    text-shadow: 5px 9px 5px rgba(0,0,0,.3);
}
#Index .logo{
    right: 34px; top: 54px;
}
#Index .mainTP .main{
    top: 208px; left: 0px;
    width:1024px; height:560px;
}
#Index .mainTP .main .img{
    position: absolute;
    width: 132px;
    height: 128px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: rgba(153,153,153,0);
    border: solid 5px rgba(105,105,105,.8);
    overflow: hidden;
    text-align: center;
    background: url(../img/add.png) no-repeat center center;
}
#Index .mainTP .main .img.act{
    top: 0; opacity: 1;
}
#Index .mainTP .main .img1,
#Index .mainTP .main .text1{
    left: 62px;
}
#Index .mainTP .main .img2,
#Index .mainTP .main .text2{
    left: 292px;
}
#Index .mainTP .main .img3,
#Index .mainTP .main .text3{
    left: 522px;
}
#Index .mainTP .main .img4,
#Index .mainTP .main .text4{
    left: 752px;
}
#Index .mainTP .main .img5,
#Index .mainTP .main .text5{
    left: 62px;
}
#Index .mainTP .main .img6,
#Index .mainTP .main .text6{
    left: 292px;
}
#Index .mainTP .main .img7,
#Index .mainTP .main .text7{
    left: 522px;
}
#Index .mainTP .main .img8,
#Index .mainTP .main .text8{
    left: 752px;
}
#Index .mainTP .main .text{
    position: absolute;
    top: 157px;
    width: 142px;
    line-height: 17px;
    padding-left: 18px;
    text-align: left;
}
#Index .mainTP .main .text .en{
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 4px 3px rgba(0,0,0,.3);
}
#Index .mainTP .main .text .cn{
    font-size: 17px;
    color: #fff;
    text-shadow: 3px 4px 3px rgba(0,0,0,.3);
}
#Index .mainTP .main .downimg{
    position: absolute;
    top: 250px;
}
#Index .mainTP .main .downtext{
    position: absolute;
    top: 405px;
}
#Index .main{
    position: absolute; top:170px; left: 90px;
    width: 900px; height: 500px; overflow: hidden;
}

#Index .Index-container {
    position:absolute; top: 0px; left: 0;
    width: 900px; height: 480px;
}

#Index .Index-container .txt{
    position:relative; left: 20px; top:5px;
    width: 160px; text-align: left;
}
#Index .Index-container .txt_cn{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    color: #fff;
    text-shadow: 3px 4px 3px rgba(0,0,0,.3);
}
#Index .Index-container .txt_en{
    font-family: "Arial";
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 4px 3px rgba(0,0,0,.3);
}

#Index .swiper-slide {
    text-align: center;

    color: #fff; font-size: 15px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: start;

}

#Index .swiper-slide ul li{

    width: 145px; height: 230px;
    float: left; margin-right: 80px;
}
#Index .swiper-slide ul li img{
    width: 132px;
    height: 128px;
    line-height: 128px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: solid 5px rgba(255,255,255,1);
    overflow: hidden;
}

#Index .Index-pagination{
    background-color: #3D3D3D; display: inline-block;
    height: 16px; line-height: 16px;
    padding-left: 20px; padding-right: 15px;
    border-radius: 8px;
    position: relative; left: 50%; top: -5px;
    -webkit-transform: translateX(-50%);
}
#Index .Index-pagination .swiper-pagination-bullet{
    width: 10px; height: 10px; border-radius: 5px;
    background-color: #000; margin-right: 5px;
}
#Index .Index-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 10px; height: 10px; border-radius: 5px;
    background-color: #fff;
}

#TPHM .main{
    position: absolute; top:150px; left: 60px;
    width: 900px; height: 475px; overflow: hidden;
}
#TPHM .txt{
    position:relative; left: 0; top:5px;
    width: 160px;
}
#TPHM .txt_cn{
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #fff;
    text-shadow: 3px 4px 3px rgba(0,0,0,.3);
}
#TPHM .txt_en{
    font-family: "Arial";
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 4px 3px rgba(0,0,0,.3);
}

#TPHM .TPHM-container {
    position:absolute; top: 50px; left: 0;
    width: 900px; height: 410px;
}
#TPHM .swiper-slide {
    text-align: center;

    color: #fff; font-size: 15px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: start;

}

#TPHM .swiper-slide ul li{

    width: 145px; height: 200px;
    float: left; margin-right: 30px;
}
#TPHM .swiper-slide ul li img{
    width: 132px;
    height: 128px;
    line-height: 128px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #999;
    border: solid 5px rgba(105,105,105,.8);
    overflow: hidden;
}

#TPHM .TPHM-pagination{
    background-color: #3D3D3D; display: inline-block;
    height: 16px; line-height: 16px;
    padding-left: 20px; padding-right: 15px;
    border-radius: 8px;
    position: relative; left: 50%; top: -5px;
    -webkit-transform: translateX(-50%);
}
#TPHM .TPHM-pagination .swiper-pagination-bullet{
    width: 10px; height: 10px; border-radius: 5px;
    background-color: #000; margin-right: 5px;
}
#TPHM .TPHM-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 10px; height: 10px; border-radius: 5px;
    background-color: #fff;
}
#TPHM_Index .main{
    position: absolute; top:190px; left: 60px;
    width: 900px; height: 475px; overflow: hidden;
}

#TPHM_Index .main .w{
    font-size: 18px; color: #ffffff;
    padding: 5px;
}
#TPHM_Index .main .w span{
    position: relative; top: -35px;
    display: inline-block; width: 160px;
    text-align: right;
}
#TPHM_Index .main .w textarea{
    display: inline-block;
    font-size: 18px; color: #ffffff; padding: 10px; margin-left: 20px;
    width: 600px; background-color: rgba(0, 0, 0, 0.2);
}
#TPHM_Index .main .w textarea.ui-input-text { min-height: 50px;  }
#TPHM_Index .main .btn{
    position: relative; left: 183px; top: 30px; border-radius: 20px;
    width: 130px; height: 50px; line-height: 50px; text-align: center;
    font-size: 18px; color: #fff; padding: 10px; border: 1px solid #fff;
}


#History .ctrl{
    position: absolute; top: 179px; left: 60px;
    width: 900px; height: 464px; z-index: 9;
    border-top: 1px solid #fff;
    overflow: hidden;
}
#History .History-container {
    width: 900px; height: 444px;
}
#History .swiper-slide {
    text-align: center;

    color: #fff; font-size: 15px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: start;

}

#History .swiper-slide ul li{

    padding: 3px 18px; margin-top: 4px;
    height: 34px; line-height: 34px;

    background-color: inherit;
    text-align: left;
    /*border-width: 3px;*/
}

#History .swiper-slide ul li.act{
    padding: 3px;
}
#History .swiper-slide ul li.act span{
    padding: 3px 12px;
    background-color: #600;
    border: solid 3px #600;
    border-radius: 5px;
}

#History .History-pagination{
    background-color: #3D3D3D; display: inline-block;
    height: 16px; line-height: 16px;
    padding-left: 20px; padding-right: 15px;
    border-radius: 8px;
    position: relative; left: 50%; top: -5px;
    -webkit-transform: translateX(-50%);
}
#History .History-pagination .swiper-pagination-bullet{
    width: 10px; height: 10px; border-radius: 5px;
    background-color: #000; margin-right: 5px;
}
#History .History-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 10px; height: 10px; border-radius: 5px;
    background-color: #fff;
}


#TPSP .page{
    position: absolute; top: 180px; left: 60px;
    width: 900px; height: 180px;
    border-bottom: 1px solid #fff;
}
#TPSP .page .txt{
    position: absolute; left: 7px; top:110px;
    width: 160px;
}
#TPSP .page .txt_cn{
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #fff;
    text-shadow: 3px 4px 3px rgba(0,0,0,.3);
}
#TPSP .page .txt_en{
    font-family: "Arial";
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 4px 3px rgba(0,0,0,.3);
}
#TPSP .page .box{
    position: absolute; top: 0;
    width: 103px; height: 157px; overflow: hidden;
}
#TPSP .page .box .img{
    position: absolute; top: 0; left: 0;
    width: 102px; height: 100px;
}

#TPSP .page .page1{left: 0px;}
#TPSP .page .page1 .img{
    background: url(../img/TPSP/p1.png) no-repeat;
}
#TPSP .page .page1.act .img{
    background: url(../img/TPSP/p1_act.png) no-repeat;
}

#TPSP .page .page2{left: 120px;}
#TPSP .page .page2 .img{
    background: url(../img/TPSP/p2.png) no-repeat;
}
#TPSP .page .page2.act .img{
    background: url(../img/TPSP/p2_act.png) no-repeat;
}

#TPSP .page .page3{left: 240px;}
#TPSP .page .page3 .img{
    background: url(../img/TPSP/p3.png) no-repeat;
}
#TPSP .page .page3.act .img{
    background: url(../img/TPSP/p3_act.png) no-repeat;
}

#TPSP .page .page4{left: 360px;}
#TPSP .page .page4 .img{
    background: url(../img/TPSP/p4.png) no-repeat;
}
#TPSP .page .page4.act .img{
    background: url(../img/TPSP/p4_act.png) no-repeat;
}

#TPSP .page .page5{left: 480px;}
#TPSP .page .page5 .img{
    background: url(../img/TPSP/p5.png) no-repeat;
}
#TPSP .page .page5.act .img{
    background: url(../img/TPSP/p5_act.png) no-repeat;
}

#TPSP .page .pre{left: 660px;}
#TPSP .page .pre .img{
    background: url(../img/TPSP/pre.png) no-repeat;
}
#TPSP .page .pre.act .img{
    background: url(../img/TPSP/pre_act.png) no-repeat;
}

#TPSP .page .next{left: 780px;}
#TPSP .page .next .img{
    background: url(../img/TPSP/next.png) no-repeat;
}
#TPSP .page .next.act .img{
    background: url(../img/TPSP/next_act.png) no-repeat;
}

#TPSP .ctrl{
    position: absolute; top: 370px; left: 60px;
    width: 900px; height: 260px; z-index: 9;
    overflow: hidden;
}
#TPSP .container {
    position:absolute; top: 0; left: 0;
    width: 900px; height: 240px;
}
#TPSP .swiper-slide {
    text-align: center;

    color: #fff; font-size: 15px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: start;

}

#TPSP .swiper-slide ul li{

    padding: 3px 18px; margin-top: 4px;
    height: 34px; line-height: 34px;

    background-color: inherit;
    text-align: left;
    /*border-width: 3px;*/
}

#TPSP .swiper-slide ul li.act{
    padding: 3px;
}
#TPSP .swiper-slide ul li.act span{
    padding: 3px 12px;
    background-color: #600;
    border: solid 3px #600;
    border-radius: 5px;
}

#TPSP .pagination{
    background-color: #3D3D3D; display: inline-block;
    height: 16px; line-height: 16px;
    padding-left: 20px; padding-right: 15px;
    border-radius: 8px;
    position: relative; left: 50%; top: -5px;
    -webkit-transform: translateX(-50%);
}
#TPSP .pagination .swiper-pagination-bullet{
    width: 10px; height: 10px; border-radius: 5px;
    background-color: #000; margin-right: 5px;
}
#TPSP .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 10px; height: 10px; border-radius: 5px;
    background-color: #fff;
}

/*Public*/
.MainTP{
    position: absolute; top: 0; left: 0;
    width: 100%; height: 308px; overflow: hidden;
}
.MainTP>.title{
    position: absolute;
    left: 48px; top: 54px;
}
.MainTP>.title .title_en{
    font-family: "Arial";
    font-size: 38px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 5px 9px 5px rgba(0,0,0,.3);
}
.MainTP>.title .title_cn{
    font-size: 24px;
    color: #fff;
    text-shadow: 5px 9px 5px rgba(0,0,0,.3);
}
.MainTP>.return{
    position: absolute;
    right: 34px; top: 54px;
}
.MainTP>.information{
    position: absolute;
    width: 100%;
    height: 137px;
    top: 170px;
}
.MainTP>.information .icon{
    position: absolute;
    left: 61px;
    width: 132px;
    height: 128px;
    line-height: 128px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #999;
    border: solid 5px rgba(255,255,255,1);
    overflow: hidden;
}
.MainTP>.information .text{
    position: absolute;
    left: 224px;
    color: #fff;
    width: 770px;
}
.MainTP>.information .title{
    font-size: 23px;
}
.MainTP>.information .container{
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
}

.Hardware{
    position: absolute;
    left:60px; top: 630px;
    width: 900px; height: 120px; overflow: hidden;
    border-top: 1px solid #fff;
}
/*.Hardware.HD{*/
    /*top: 230px;*/
    /*border-top:0px solid #fff;*/
/*}*/
.Hardware .box1{
    left: 0px;
}
.Hardware .box2{
    left: 220px;
}
.Hardware .box3{
    left: 440px;
}
.Hardware .box4{
    left: 660px;
}
.Hardware .box{
    position: absolute;
    top:20px;
}
.Hardware .box .btn{
    position: absolute; left: 0px;
}
.Hardware .btn{
    position: absolute; left: 0; top:20px;
    width: 75px; height: 41px;
    background: url(../img/btns.png) no-repeat 0 0;
}
.Hardware .btn.act{
    background: url(../img/btns.png) no-repeat -75px 0;
}

.Hardware .txt{
    position: absolute; top:10px; padding-left: 80px;
    width: 160px;
}
.Hardware .txt_cn{
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #fff;
    text-shadow: 3px 4px 3px rgba(0,0,0,.3);
}
.Hardware .txt_en{
    font-family: "Arial";
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 3px 4px 3px rgba(0,0,0,.3);
}

.SonNext{
    width: 100px; height: 100px; position: absolute; top: 200px; right: 15px;
    border: 3px solid #fff; border-radius: 14px;
    color: #fff; line-height: 100px; text-align: center;
    z-index: 999999;
}